<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fontName</key>
	<string>System</string>
	<key>pointSize</key>
	<string>17</string>
	<key>text</key>
	<string>Chimbongo</string>
	<key>textColor</key>
	<string>NSCalibratedRGBColorSpace 0 0 0 1</string>
	<key>type</key>
	<string>1</string>
	<key>weightCategory</key>
	<string>0</string>
</dict>
</plist>
